# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.*
!.env.example

# Cloudflare
.wrangler/
.dev.vars

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
